# Default data sources are PUBLIC templates so a fresh clone runs out of the box.
# Swap a slot to your own (private) data repo with:  .\docker-compose.ps1 data use <slot> <owner/repo[@ref]>
[submodule "mc_data"]
	path = mc_data
	url = https://github.com/intisy-compose/mc-server-data-template.git
[submodule "hytale_data"]
	path = hytale_data
	url = https://github.com/intisy-compose/hytale-server-data-template.git
[submodule "ark_ase_data"]
	path = ark_ase_data
	url = https://github.com/intisy-compose/ark-ase-server-data-template.git
[submodule "ark_asa_data"]
	path = ark_asa_data
	url = https://github.com/intisy-compose/ark-asa-server-data-template.git
