[submodule "hytale_data"]
	path = hytale_data
	url = https://github.com/intisy/hytale-server-data.git
[submodule "mc_data"]
	path = mc_data
	url = https://github.com/intisy/mc-server-data.git
[submodule "ark_ase_data"]
	path = ark_ase_data
	url = https://github.com/intisy/ark-ase-server-data.git
[submodule "ark_asa_data"]
	path = ark_asa_data
	url = https://github.com/intisy/ark-asa-server-data.git
