logs/
.disabled/
*cache/
libraries/
versions/
.paper-remapped/

session.lock

.papermc-manifest.json
.rcon-cli.env
.rcon-cli.yaml
.paper.env
ops.json
usercache.json
version_history.json

Server/

paper-*.jar
*.zip
*.tmp

# Ark ASE
ark_ase_data/ShooterGame/Saved/SavedArks/
ark_ase_data/ShooterGame/Saved/Logs/

# Ark ASA
ark_asa_data/Saved/SavedArks/
ark_asa_data/Saved/Logs/
